# Data Preprocessing

In [1]:
# Constants
DATA_PATH   = "../Data/Raw/survey_results_public2022.csv"
EXPORT_PATH = "../Data/Processed/1_preprocessed_df.pkl"

ROLE_COL = ['DevType']
CORE_COLS = [
             'VersionControlSystem',  
             'LanguageHaveWorkedWith',  'LanguageWantToWorkWith',  
             'DatabaseHaveWorkedWith',  'DatabaseWantToWorkWith',  
             'PlatformHaveWorkedWith',  'PlatformWantToWorkWith',  
             'WebframeHaveWorkedWith',  'WebframeWantToWorkWith',  
             'MiscTechHaveWorkedWith','MiscTechWantToWorkWith',  
             'ToolsTechHaveWorkedWith','ToolsTechWantToWorkWith',                                    
             'NEWCollabToolsHaveWorkedWith',  'NEWCollabToolsWantToWorkWith'
]

USEFUL_COLS= ['Employment','RemoteWork',
              'MainBranch','CodingActivities','ProfessionalTech',
              'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert',
              'WorkExp', 'YearsCode', 'YearsCodePro', 'EdLevel',
              'OrgSize', 'Country',
              'ConvertedCompYearly', 'Currency', 'CompTotal', 'CompFreq']

In [2]:
# Load packages
import pandas as pd 
import numpy as np
import logging
import pickle
from pathlib import Path

pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000

______

### Functions

In [3]:
# Create a Folder named Images to save figures in.
IMAGES_PATH = Path.cwd().parent / "Images"
IMAGES_PATH.mkdir(parents=True, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    """
    This functions will save the current figure shown below.
    
    Args:
        fig_id: String Containing the name of the figure.
        tight_layout: Boolean to decide whether you want a tight layout or not.
        fig_extension: String to decide the type of the figure.
        resoultion: Int to decide the resolution of the figure.
        
    Returns:
        None
    """
    path = IMAGES_PATH / f"{fig_id}.{fig_extension}"
    
    if tight_layout:
        plt.tight_layout()
        
    plt.savefig(path, format=fig_extension, dpi=resolution)

In [4]:
def print_unique_values(df, columns):
    """
    Print the unique values for each categorical column and there count in the DataFrame.

    Args:
        df (DataFrame): DataFrame containing categorical columns.
        columns (list): List of column names to loop through.

    Returns:
        None
    """
    for col in columns:
        value_counts = df[col].value_counts().head(5)
        unique_count = len(df[col].unique())
        print(f"Unique values of {col}:\nNo. of Unique values: {unique_count}\n{value_counts}' \n")

In [5]:
def replace_values(df, cols, key_value, type):
    """
    Replace the values of a certain column to a desired value and set the column to the desired type
    
    Args:
        df (DataFrame): DataFrame containing columns you want to replace.
        cols (list): List of column names to loop through.
        key_value (dict): Dictionary contains the original value and new value {'original_value' : 'new_value'}
        type : The desired type of column type = np.int32
        
    Returns:
        None
        
    """
    # loop through each column and replace the key_value pair
    for col in cols:
        df[col] = df[col].replace(key_value).astype(type)

In [6]:
def split_values(df, cols= [], delimiter=','):
    """ 
    Split multiple values in a single string 
    to a list of single strings each represnting a single value. 

    Args:
    df (Dataframe): Dataframe contains desired columns
    delimiter (string): the delimiter to split on ex: ':' 

    Returns:
        None
    """
    #select only object columns
    cols = df[cols].select_dtypes(include='object').columns.tolist()
    
    # loop through object columns and convert to list on the decided delimiter
    for col in cols:
        df[col] = df[col].str.split(delimiter)

In [7]:
def combine_unique_values(df, cols_1, cols_2 , combined_cols):
    """
    Combine related Columns and return unique values
    
    Args:
    df (Dataframe): Dataframe contains desired columns
    cols_1, cols_2 (List): Columns need to be combined 
    combined_cols (list): The new combined Columns
    """
    # change the NAN values to [] to avoid errors
    df[cols_1 + cols_2] = df[cols_1 + cols_2].applymap(lambda x: x if isinstance(x, list) else [])
    
    #loop through the cols
    for i in range(len(cols_1)):
        # create a lambda function to combine each row and return unique values
        combine_lists_unique = lambda row: list(set(row[cols_1[i]] + row[cols_2[i]]))

        # implement the lambda function using apply method and return the new combined column
        df[combined_cols[i]] = df.apply(combine_lists_unique, axis=1)

______

In [8]:
# Load dataset and make a copy
raw_df = pd.read_csv(DATA_PATH)
df = raw_df.copy()

In [9]:
len(raw_df.columns)

79

### Remove Non-related Features

In [10]:
# Remove non_related Features
df = df[ROLE_COL + CORE_COLS + USEFUL_COLS]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DevType                       61302 non-null  object
 1   VersionControlSystem          71379 non-null  object
 2   LanguageHaveWorkedWith        70975 non-null  object
 3   LanguageWantToWorkWith        67027 non-null  object
 4   DatabaseHaveWorkedWith        60121 non-null  object
 5   DatabaseWantToWorkWith        51014 non-null  object
 6   PlatformHaveWorkedWith        49924 non-null  object
 7   PlatformWantToWorkWith        40415 non-null  object
 8   WebframeHaveWorkedWith        53544 non-null  object
 9   WebframeWantToWorkWith        46122 non-null  object
 10  MiscTechHaveWorkedWith        44992 non-null  object
 11  MiscTechWantToWorkWith        36810 non-null  object
 12  ToolsTechHaveWorkedWith       54171 non-null  object
 13  ToolsTechWantToWorkWith       46566 non-null  object
 14  NEWCollabToolsHaveWorkedWith  70347 non-null  object
 15  NEWCollabToolsWantToWorkWith  64108 non-null  object
 16  Employment                    71709 non-null  object
 17  RemoteWork                    58958 non-null  object
 18  MainBranch                    73268 non-null  object
 19  CodingActivities              58899 non-null  object
 20  ProfessionalTech              34906 non-null  object
 21  LearnCode                     71580 non-null  object
 22  LearnCodeOnline               50685 non-null  object
 23  LearnCodeCoursesCert          29389 non-null  object
 24  WorkExp                       36769 non-null  float64
 25  YearsCode                     71331 non-null  object
 26  YearsCodePro                  51833 non-null  object
 27  EdLevel                       71571 non-null  object
 28  OrgSize                       51039 non-null  object
 29  Country                       71771 non-null  object
 30  ConvertedCompYearly           38071 non-null  float64
 31  Currency                      51264 non-null  object
 32  CompTotal                     38422 non-null  float64
 33  CompFreq                      44425 non-null  object
dtypes: float64(3), object(31)
memory usage: 19.0+ MB

### Check for Duplictes

In [12]:
# Check for duplicates
raw_df.duplicated().value_counts()

False    73268
dtype: int64

- **The Dataset contains no duplicate values.**

### Replace Values and Parse

In [13]:
# Replace Text Values in YearsCode and YearsCodePro to numerical and set type to float
cols = ['YearsCode','YearsCodePro']
REPLACE_YEARS_TEXT = {'Less than 1 year': 0, 'More than 50 years': 51}

replace_values(df, cols, REPLACE_YEARS_TEXT, np.float32)

In [14]:
# Verify your Results
for col in cols: 
    print(col)
    print(df[col].unique().tolist())
    print('--------------------------')
    print()

YearsCode
[nan, 14.0, 20.0, 8.0, 15.0, 3.0, 1.0, 6.0, 37.0, 5.0, 12.0, 22.0, 11.0, 4.0, 7.0, 13.0, 36.0, 2.0, 25.0, 10.0, 40.0, 16.0, 27.0, 24.0, 19.0, 9.0, 17.0, 18.0, 26.0, 51.0, 29.0, 30.0, 32.0, 0.0, 48.0, 45.0, 38.0, 39.0, 28.0, 23.0, 43.0, 21.0, 41.0, 35.0, 50.0, 33.0, 31.0, 34.0, 46.0, 44.0, 42.0, 47.0, 49.0]
--------------------------

YearsCodePro
[nan, 5.0, 17.0, 3.0, 6.0, 30.0, 2.0, 10.0, 15.0, 4.0, 22.0, 20.0, 40.0, 9.0, 14.0, 21.0, 7.0, 18.0, 25.0, 8.0, 12.0, 45.0, 1.0, 19.0, 28.0, 24.0, 11.0, 23.0, 0.0, 32.0, 27.0, 16.0, 44.0, 26.0, 37.0, 46.0, 13.0, 31.0, 39.0, 34.0, 38.0, 35.0, 29.0, 42.0, 36.0, 33.0, 43.0, 41.0, 48.0, 50.0, 51.0, 47.0, 49.0]
--------------------------

### Transform Multiple Values Features

In [15]:
# Split multiple answers in object columns using ';' delimiter
cols = ROLE_COL + CORE_COLS + USEFUL_COLS
split_values(df, cols, delimiter=';')

In [16]:
# Verify your Results
i = df.sample(1).index[0]
print(raw_df['DevType'].iloc[i])
print(df['DevType'].iloc[i])

print(raw_df['LanguageHaveWorkedWith'].iloc[i])
print(df['LanguageHaveWorkedWith'].iloc[i])

Educator
['Educator']
Bash/Shell;JavaScript;Lua;Python;R;SQL
['Bash/Shell', 'JavaScript', 'Lua', 'Python', 'R', 'SQL']

### Combine Related Features

In [17]:
# Create two lists of columns that will be combined.
cols_1 = ['LanguageHaveWorkedWith',
          'DatabaseHaveWorkedWith',
          'PlatformHaveWorkedWith',
          'WebframeHaveWorkedWith',
          'MiscTechHaveWorkedWith',
          'ToolsTechHaveWorkedWith',                               
          'NEWCollabToolsHaveWorkedWith']

cols_2 = ['LanguageWantToWorkWith', 
          'DatabaseWantToWorkWith',  
          'PlatformWantToWorkWith',  
          'WebframeWantToWorkWith',  
          'MiscTechWantToWorkWith',  
          'ToolsTechWantToWorkWith',     
          'NEWCollabToolsWantToWorkWith']

# create a list containing the new names of the combined column.
combined_cols = ['Languages','Databases','Platforms','WebFrameworks','MiscTech','ToolsTech','CollabTools']

combine_unique_values(df,cols_1,cols_2, combined_cols)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DevType                       61302 non-null  object
 1   VersionControlSystem          71379 non-null  object
 2   LanguageHaveWorkedWith        73268 non-null  object
 3   LanguageWantToWorkWith        73268 non-null  object
 4   DatabaseHaveWorkedWith        73268 non-null  object
 5   DatabaseWantToWorkWith        73268 non-null  object
 6   PlatformHaveWorkedWith        73268 non-null  object
 7   PlatformWantToWorkWith        73268 non-null  object
 8   WebframeHaveWorkedWith        73268 non-null  object
 9   WebframeWantToWorkWith        73268 non-null  object
 10  MiscTechHaveWorkedWith        73268 non-null  object
 11  MiscTechWantToWorkWith        73268 non-null  object
 12  ToolsTechHaveWorkedWith       73268 non-null  object
 13  ToolsTechWantToWorkWith       73268 non-null  object
 14  NEWCollabToolsHaveWorkedWith  73268 non-null  object
 15  NEWCollabToolsWantToWorkWith  73268 non-null  object
 16  Employment                    71709 non-null  object
 17  RemoteWork                    58958 non-null  object
 18  MainBranch                    73268 non-null  object
 19  CodingActivities              58899 non-null  object
 20  ProfessionalTech              34906 non-null  object
 21  LearnCode                     71580 non-null  object
 22  LearnCodeOnline               50685 non-null  object
 23  LearnCodeCoursesCert          29389 non-null  object
 24  WorkExp                       36769 non-null  float64
 25  YearsCode                     71331 non-null  float32
 26  YearsCodePro                  51833 non-null  float32
 27  EdLevel                       71571 non-null  object
 28  OrgSize                       51039 non-null  object
 29  Country                       71771 non-null  object
 30  ConvertedCompYearly           38071 non-null  float64
 31  Currency                      51264 non-null  object
 32  CompTotal                     38422 non-null  float64
 33  CompFreq                      44425 non-null  object
 34  Languages                     73268 non-null  object
 35  Databases                     73268 non-null  object
 36  Platforms                     73268 non-null  object
 37  WebFrameworks                 73268 non-null  object
 38  MiscTech                      73268 non-null  object
 39  ToolsTech                     73268 non-null  object
 40  CollabTools                   73268 non-null  object
dtypes: float32(2), float64(3), object(36)
memory usage: 22.4+ MB

### Transform DevType column `labels`
1. Remove the rows with missing values `NAN`
2. Convert the `DevType` column to dummy variables
3. Return every job name and its no. of appearances
3. identify non-related jobs `non_tech`
4. Remove the columns of non-related jobs
5. Remove rows where all tech_jobs = 0

In [19]:
# Drop the rows with missing values in DevType Column
df.dropna(subset=['DevType'], inplace= True)

- **11966 Rows Removed**

In [20]:
# Use MultMultiLabelBinarizer instead of OneOneHotEncoder because we are dealing with iterable of iterables
# Also it is alot faster
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
#fit_Transform the DevType column
mlb_DevType = mlb.fit_transform(df['DevType'])


# temp_df1 = pd.get_dummies(temp_df.apply(pd.Series).stack(), prefix='DevType').groupby(level=0).max()

In [21]:
# Transform the dense matrix to a dataframe
df_mlb_DevType = pd.DataFrame(mlb_DevType, columns= mlb.classes_, index = df.index)

In [22]:
# merge the original dataset with the one_hot encoded DevType column
encoded_df = pd.concat([df_mlb_DevType,df],axis = 1)

In [23]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61302 entries, 2 to 73267
Data columns (total 70 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Academic researcher                            61302 non-null  int32
 1   Blockchain                                     61302 non-null  int32
 2   Cloud infrastructure engineer                  61302 non-null  int32
 3   Data or business analyst                       61302 non-null  int32
 4   Data scientist or machine learning specialist  61302 non-null  int32
 5   Database administrator                         61302 non-null  int32
 6   Designer                                       61302 non-null  int32
 7   DevOps specialist                              61302 non-null  int32
 8   Developer, QA or test                          61302 non-null  int32
 9   Developer, back-end                            61302 non-null  int32
 10  Developer, desktop or enterprise applications  61302 non-null  int32
 11  Developer, embedded applications or devices    61302 non-null  int32
 12  Developer, front-end                           61302 non-null  int32
 13  Developer, full-stack                          61302 non-null  int32
 14  Developer, game or graphics                    61302 non-null  int32
 15  Developer, mobile                              61302 non-null  int32
 16  Educator                                       61302 non-null  int32
 17  Engineer, data                                 61302 non-null  int32
 18  Engineer, site reliability                     61302 non-null  int32
 19  Engineering manager                            61302 non-null  int32
 20  Marketing or sales professional                61302 non-null  int32
 21  Other (please specify):                        61302 non-null  int32
 22  Product manager                                61302 non-null  int32
 23  Project manager                                61302 non-null  int32
 24  Scientist                                      61302 non-null  int32
 25  Security professional                          61302 non-null  int32
 26  Senior Executive (C-Suite, VP, etc.)           61302 non-null  int32
 27  Student                                        61302 non-null  int32
 28  System administrator                           61302 non-null  int32
 29  DevType                                        61302 non-null  object
 30  VersionControlSystem                           61111 non-null  object
 31  LanguageHaveWorkedWith                         61302 non-null  object
 32  LanguageWantToWorkWith                         61302 non-null  object
 33  DatabaseHaveWorkedWith                         61302 non-null  object
 34  DatabaseWantToWorkWith                         61302 non-null  object
 35  PlatformHaveWorkedWith                         61302 non-null  object
 36  PlatformWantToWorkWith                         61302 non-null  object
 37  WebframeHaveWorkedWith                         61302 non-null  object
 38  WebframeWantToWorkWith                         61302 non-null  object
 39  MiscTechHaveWorkedWith                         61302 non-null  object
 40  MiscTechWantToWorkWith                         61302 non-null  object
 41  ToolsTechHaveWorkedWith                        61302 non-null  object
 42  ToolsTechWantToWorkWith                        61302 non-null  object
 43  NEWCollabToolsHaveWorkedWith                   61302 non-null  object
 44  NEWCollabToolsWantToWorkWith                   61302 non-null  object
 45  Employment                                     61302 non-null  object
 46  RemoteWork                                     58688 non-null  object
 47  MainBranch                                     61302 non-null  object
 48  CodingActivities                               58636 non-null  object
 49  ProfessionalTech                               34822 non-null  object
 50  LearnCode                                      61234 non-null  object
 51  LearnCodeOnline                                42740 non-null  object
 52  LearnCodeCoursesCert                           25635 non-null  object
 53  WorkExp                                        36649 non-null  float64
 54  YearsCode                                      61053 non-null  float32
 55  YearsCodePro                                   51406 non-null  float32
 56  EdLevel                                        61240 non-null  object
 57  OrgSize                                        50730 non-null  object
 58  Country                                        61302 non-null  object
 59  ConvertedCompYearly                            37989 non-null  float64
 60  Currency                                       50840 non-null  object
 61  CompTotal                                      38322 non-null  float64
 62  CompFreq                                       44254 non-null  object
 63  Languages                                      61302 non-null  object
 64  Databases                                      61302 non-null  object
 65  Platforms                                      61302 non-null  object
 66  WebFrameworks                                  61302 non-null  object
 67  MiscTech                                       61302 non-null  object
 68  ToolsTech                                      61302 non-null  object
 69  CollabTools                                    61302 non-null  object
dtypes: float32(2), float64(3), int32(29), object(36)
memory usage: 26.0+ MB

In [24]:
# Return every job name and its no. of appearances
dev_type_jobs = mlb.classes_.tolist()
encoded_df[dev_type_jobs].sum(axis = 0, numeric_only=True)

Academic researcher                               2709
Blockchain                                        1302
Cloud infrastructure engineer                     5283
Data or business analyst                          3201
Data scientist or machine learning specialist     3424
Database administrator                            4934
Designer                                          3764
DevOps specialist                                 6170
Developer, QA or test                             3096
Developer, back-end                              26595
Developer, desktop or enterprise applications     9546
Developer, embedded applications or devices       3923
Developer, front-end                             15915
Developer, full-stack                            28701
Developer, game or graphics                       1837
Developer, mobile                                 7634
Educator                                          2090
Engineer, data                                    3600
Engineer, site reliability                        1947
Engineering manager                               3574
Marketing or sales professional                    518
Other (please specify):                           2618
Product manager                                   2514
Project manager                                   3897
Scientist                                         1762
Security professional                             1928
Senior Executive (C-Suite, VP, etc.)              1805
Student                                           5595
System administrator                              4908
dtype: int64

- **Identify non-related jobs**
    - **`Designer`, `Educator`, `Marketing or sales professional`, `Other (please specify):`,
    `Engineer, site reliability`, `Engineering manager`, `Product manager`,
    `Project manager`, `Senior Executive (C-Suite, VP, etc.)`, `Student`**

In [25]:
non_related_jobs = [
    'Designer', 
    'Educator', 
    'Marketing or sales professional',
    'Other (please specify):',
    'Engineer, site reliability',
    'Engineering manager',
    'Product manager',
    'Project manager',
    'Senior Executive (C-Suite, VP, etc.)',
    'Student']

In [26]:
# Drop Columns of non_related jobs
encoded_df = encoded_df.drop(columns=non_related_jobs, axis = 1)

In [35]:
# Create a list of tech_jobs columns names
Tech_Jobs = list(set(dev_type_jobs) - set(non_related_jobs))

In [56]:
# Remove Rows where all Tech_Jobs = 0
encoded_df = encoded_df[~encoded_df[Tech_Jobs].eq(0).all(axis=1)]

### Export Data

In [64]:
# Create a dataframe with preprocessed features
prep_df = encoded_df[Tech_Jobs + ['VersionControlSystem'] + combined_cols + USEFUL_COLS]

In [65]:
# Export the data with pickle
prep_df.to_pickle(EXPORT_PATH)

- **Changes need to be done:**
    - **Their might be preprocessing still on both tech jobs and core_cols (outliers, missing values)**
    - **useful features still didn't decide what to do with**